body{
    font-family: Verdana, Geneva, sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "gauche millieu droite";
}
.gamecontainer {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-area: millieu;
    justify-content: center;
    grid-gap: 1px;
    
}
.playerscontainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translate(-50%);
    border: 3px solid #111111;
    border-radius: 5%;
    width: 500px;
    height: 200px;
    background: #DDDDDD;
    text-align: center;
}
.playerscontainer input[type=text] {
    border: 2px solid #FF851B;
     margin: 2px;
     
 }
.theboard {
    border: 2px solid black;
}
.btnsave {
    border: 2px solid #FF851B;
    background: #FFFFFF;
    border-radius: 10%;
    width: 40px;
    font-size: 13px;
    padding: 2px;
    text-align: center;
    align-self: center;
    margin: 5px;
}
